@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin-top: 10%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/082/545/non_2x/modern-abstract-casino-background-with-playing-card-signs-poker-symbols-on-black-background-casino-symbols-widescreen-wallpaper-vector.jpg");
  background-color: #cccccc;
}

div {
  margin: auto;
}

.card {
  background-color: white;
  width: 350px;
  height: 500px;
  border-radius: 2%;
}

.number {
  font-size: 600%;
}
.sign {
  font-size: 600%;
}
.left {
  margin-left: 5%;
}
.right {
  margin-right: 5%;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#boton {
  margin-top: 3%;
  margin-left: 48%;
}
.rojo {
  color: red;
  font-size: 600%;
}

.negro {
  color: black;
  font-size: 600%;
}
