@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin-top: 10%;
  background-image: url("https://images.squarespace-cdn.com/content/v1/589135c903596e466b814f4c/1520907223472-YAKUGIB3ELBUS4MK90R9/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/poker_tournament_landscape_tv_full_hd.jpg?format=2500w");
  background-color: #cccccc;
}

div {
  margin: auto;
}

.card {
  background-color: white;
  width: 350px;
  height: 500px;
  border-radius: 2%;
}

.number {
  font-size: 600%;
}
.sign {
  font-size: 600%;
}
.left {
  margin-left: 5%;
}
.right {
  margin-right: 5%;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#boton {
  margin-top: 3%;
  margin-left: 48%;
}
